{% use "tailwind_2_layout.html.twig" %}

{%- block widget_attributes -%}
  {%- set attr =
    attr|merge({
      class: (attr.class|default(
        widget_class|default(
          'h-8 px-4 mt-1 w-full rounded-md border border-gray-300'
        )
      ))
        ~ (disabled
          ? ' '
            ~ (widget_disabled_class|default('border-gray-300 text-gray-500')))
        ~ (errors|length
          ? ' ' ~ (widget_errors_class|default('border-red-700')))
    })
  -%}
  {{- parent() -}}
{%- endblock -%}
