{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block content %}
  {% include 'player/components/sidebar.html.twig' with {
    seasons: seasons,
    players: players,
    selectedSeason: selectedSeason,
    team: team
  } only %}

  <div class="flex flex-col flex-grow">
    {% embed 'components/headbar.html.twig' with { player: player, team: team } only %}
      {% block content %}
        <h1 class="text-lg font-medium">
          {% if player is defined %}
            {{ player.firstname }} {{ player.lastname }}
          {% endif %} 
        </h1>
        <div class="text-sm">
          {{ team.teamName }}
        </div>
      {% endblock %}
    {% endembed %}

    <div class="flex-grow p-6 overflow-y-auto bg-gray-200">
      {% if player is defined %}
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
          <div class="lg:col-span-1">
            {% embed "components/card.html.twig" %}
              {% block content %}
                <div class="flex flex-col flex-grow justify-center items-center">
                  <div class="text-center my-4">Email address : {{ player.email }}</div>
                  <div class="mb-4">Birth date : {{ player.birthDate|date("d/m/Y") }}</div>
                </div>
              {% endblock %}
            {% endembed %}
          </div>

          <div class="lg:col-span-2">
            {% embed "components/card.html.twig" %}
              {% block content %}
                <div class="h-24 lg:h-full text-2xl flex flex-grow justify-center items-center">
                  <div class="font-bold ml-4">{{ memberOfTeam.fieldPosition.positionName }}</div>
                </div>
              {% endblock %}
            {% endembed %}
          </div>

          {% include 'player/components/stat-card.html.twig' with {
            statText: "Played games",
            stat: stats.numberOfGamePlayed
          } %}
          {% include 'player/components/stat-card.html.twig' with {
            statText: "Started games",
            stat: stats.numberOfStartedGame
          } %}
          {% include 'player/components/stat-card.html.twig' with {
            statText: "Time on the field",
            stat: stats.timeOnTheField
          } %}
          {% include 'player/components/stat-card.html.twig' with {
            statText: "Goals",
            stat: stats.numberOfGoals
          } %}
          {% include 'player/components/stat-card.html.twig' with {
            statText: "Assists",
            stat: stats.numberOfAssist
          } %}
          {% include 'player/components/stat-card.html.twig' with {
            statText: "Yellow cards",
            stat: stats.numberOfYellowCard
          } %}
          {% include 'player/components/stat-card.html.twig' with {
            statText: "Red cards",
            stat: stats.numberOfRedCard
          } %}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
