{% extends 'base.html.twig' %}

{% block title %}Hello PlayerController!{% endblock %}

{% block content %}
  <div class="flex flex-col flex-grow">
    {% embed 'components/headbar.html.twig' %}
      {% block content %}
        Add a player
      {% endblock %}
    {% endembed %}
    <div class="h-full w-full overflow-auto">
      <div class="my-24 mx-12 lg:ml-64 lg:mr-96">
        {{ form_start(form) }}
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
            {{ form_row(form.firstname) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.email) }}
            {{ form_row(form.birthDate) }}
          </div>
          
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4 mb-8">
            {{ form_row(form.teamMembers[0].team) }}
            {{ form_row(form.teamMembers[0].fieldPosition) }}
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mb-8">
            {{ form_row(form.playerStats[0].numberOfGamePlayed) }}
            {{ form_row(form.playerStats[0].timeOnTheField) }}
            {{ form_row(form.playerStats[0].numberOfAssist) }}
            {{ form_row(form.playerStats[0].numberOfGoals) }}
            {{ form_row(form.playerStats[0].numberOfStartedGame) }}
            {{ form_row(form.playerStats[0].numberOfRedCard) }}
            {{ form_row(form.playerStats[0].numberOfYellowCard) }}
          </div>
        {{ form_end(form) }}
      </div>
    </div>    
  </div>
{% endblock %}