{% extends 'base.html.twig' %}

{% block title %}Team list{% endblock %}

{% block content %}
  {% include 'team/components/sidebar.html.twig' with {
    seasons: seasons,
    selectedSeason: selectedSeason,
    teams: teams
  } only %}

  <div class="flex flex-col flex-grow">
    {% embed 'components/headbar.html.twig' %}
      {% block content %}
        {% if team is defined %}
          <h1 class="text-lg font-medium">
            {{ team.teamName }}
          </h1>
          <div class="text-sm">
            {{ team.league.leagueName }}, ranking: {{ stats.leaguePosition }}
          </div>
        {% endif %}
      {% endblock %}
    {% endembed %}

    <div class="flex-grow p-6 overflow-auto bg-gray-200">
      {% if team is defined %}
        <div class="w-full">
          {% embed "components/card.html.twig" %}
            {% block content %}
              <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
                <div>Played games: {{ stats.numberOfGamePlayed }}</div>
                <div>Wins: {{ stats.numberOfWin }}</div>
                <div>Draws: {{ stats.numberOfDraw }}</div>
                <div>Loss: {{ stats.numberOfLoss }}</div>
                <div>Scored goals: {{ stats.numberOfGoal }}</div>
                <div>Conceded goals: {{ stats.numberOfConcededGoal }}</div>
                <div>Goal average: {{ stats.goalAverage }}</div>
                <div>League points: {{ stats.leaguePoints }}</div>
              </div>
            {% endblock %}
          {% endembed %}
        </div>

        {% for fp in fieldPositions %}
          <div class="mt-6 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
            {% for m in members|filter(m => m.fieldPosition.shortName == fp.shortName) %}
              {% include 'team/components/player-card.html.twig' with {
                player: m.player,
                fieldPosition: fp.positionName,
                team: team,
                seasonRef: seasonRef
              } only %}
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
{% endblock %}
