{% extends 'base.html.twig' %}

{% block title %}Hello TeamController!{% endblock %}

{% block content %}
  <div class="flex flex-col flex-grow">
    {% embed 'components/headbar.html.twig' %}
      {% block content %}
        Add a team
      {% endblock %}
    {% endembed %}
    <div class="h-full w-full overflow-auto">
      <div class="my-24 mx-12 lg:ml-64 lg:mr-96">
        {{ form_start(form) }}
          {{ form_errors(form) }}
          {{ form_row(form.teamName) }}
          {{ form_row(form.league) }}
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-8">
            {{ form_row(form.teamStats[0].numberOfWin) }}
            {{ form_row(form.teamStats[0].numberOfDraw) }}
            {{ form_row(form.teamStats[0].numberOfLoss) }}
            {{ form_row(form.teamStats[0].numberOfGoal) }}
            {{ form_row(form.teamStats[0].numberOfConcededGoal) }}
            {{ form_row(form.teamStats[0].leaguePosition) }}
          </div>
        {{ form_end(form) }}
      </div>
    </div>
  </div>
{% endblock %}