{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}

  <div class="flex flex-col items-center justify-center w-screen h-screen bg-gray-200 text-gray-700">
    <h1 class="font-bold text-2xl">
      {% include 'icons/sparkle-inline.html.twig' %}
      Welcome Back into Talent Sparkler!
      {% include 'icons/sparkle-inline.html.twig' %}
    </h1>
    <div class="flex flex-col bg-white rounded shadow-lg p-12 mt-12">
      <form method="post">
        <div class="flex w-full">
          <label for="inputEmail" class="font-semibold text-gray-600 w-1/3 inline-block">Email</label>
          <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
            class="border border-gray-200 bg-gray-50 rounded px-3 w-2/3 inline-block"
            autocomplete="email" required autofocus>
        </div>

        <div class="mt-4 flex w-full">
          <label for="inputPassword" class="font-semibold text-gray-600 w-1/3 inline-block">Password</label>
          <input type="password" name="password" id="inputPassword"
          class="border border-gray-200 bg-gray-50 rounded px-3 w-2/3 inline-block"
          autocomplete="current-password" required>
        </div>

        <input type="hidden" name="_csrf_token"
          value="{{ csrf_token('authenticate') }}">

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

          <div class="flex w-full">
            <button type="submit" class="h-12 px-6 w-64 mx-auto 
            bg-gray-700 text-gray-200 mt-8 rounded font-semibold text-sm hover:bg-gray-600">Login</button>
          </div>

          {% if error %}
            <div class="h-12 mt-8 p-6 w-full flex items-center justify-center rounded 
              text-sm font-semibold bg-red-400 text-red-100">
              {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
          {% endif %}
      </form>
    </div>

  </div>

{% endblock %}
