{% extends "components/card.html.twig" %}

{% block content %}
  <a class="h-24 col-span-1 hover:border hover:border-gray-600" href="{{ path("player_detail", {
    team: team.id,
    season: seasonRef,
    id: player.id
  }) }}">
    <div class="flex items-center">
      <div class="hidden lg:block lg:mr-8">{% include "icons/user-circle-xl.html.twig" %}</div>
      <div>
        <p class="font-bold">{{ player.firstname }} {{ player.lastname }}</p>
        <p>Poste : {{ fieldPosition }}</p>
      </div>
    </div>
  </a>
{% endblock %}