{% extends 'components/sidebar.html.twig' %}

{% block upper %}
  {% embed 'components/dropdown.html.twig' with { title: selectedSeason.seasonLabel, seasons: seasons } only %}
    {% block items %}
      {% for s in seasons %}
        {% include 'components/dropdown-item.html.twig' with { 
          link: path('team_list', { season: s.referenceYear }), 
          text: s.seasonLabel
        } only %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block middle %}
  {% for t in teams %}
    {% include 'components/sidebar-link.html.twig' with { 
      link: path("team_detail", {
        'id': t.id,
        'season': selectedSeason.referenceYear
      }),
      text: t.teamName
    } only %}
  {% endfor %}
{% endblock %}

{% block bottom %}
  {% embed 'components/sidebar-link.html.twig' with { link: path('team_new'), "text": "Add a new team" } only %}
    {% block icon %} <span class="mr-2"> {% include 'icons/plus-m.html.twig' %} </span> {% endblock%}
  {% endembed %}
{% endblock %}