<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!{% endblock %}
		</title>
		{% block stylesheets %}
			{{ encore_entry_link_tags('tailwind') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="w-screen h-screen text-gray-700">
		{% block body %}
			<div class="flex h-screen w-screen overflow-hidden">
				{% include 'components/navbar.html.twig' %}
				{% block content %}{% endblock %}
      </div>
    {% endblock %}
  </body>
</html>