{% extends 'components/sidebar.html.twig' %}

{% block upper %}
  {% embed 'components/dropdown.html.twig' with { 
    title: selectedSeason.seasonLabel,
    seasons: seasons, 
    team: team
  } only %}
    {% block items %}
      {% for s in seasons %}
        {% include 'components/dropdown-item.html.twig' with { 
          link: path("player_list", { 'season': s.referenceYear, 'team': team.id }), 
          text: s.seasonLabel 
        } only %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
{% endblock %}

{% block middle %}
  {% for p in players %}
    {% include 'components/sidebar-link.html.twig' with { 
      link: path("player_detail", {
        'id': p.player.id,
        'season': selectedSeason.referenceYear,
        'team': team.id
      }),
      text: p.player.firstname[:1] ~ '. ' ~ p.player.lastname
    } only %}
  {% endfor %}
{% endblock %}

{% block bottom %}
  {% embed 'components/sidebar-link.html.twig' with { link: path("player_new"), "text": "Add a new player" } only %}
    {% block icon %} <span class="mr-2"> {% include 'icons/plus-m.html.twig' %} </span> {% endblock%}
  {% endembed %}
{% endblock %}