{% extends "components/card.html.twig" %}

{% block content %}
  <div class="h-24 text-lg lg:text-2xl flex flex-grow justify-center items-center">
    <div class="font-normal">{{ statText }}</div>
    <div class="font-bold ml-4">{{ stat }}</div>
  </div>
{% endblock %}