<button class="h-full w-full relative text-sm focus:outline-none"
  onclick="['hidden', 'flex'].map(c => this.querySelector('.dropdown-items').classList.toggle(c))">
  <div class="flex items-center justify-between w-full h-full px-4 border-b border-gray-300 hover:bg-gray-300">
    <span class="font-medium">{{ title }}</span>
    {% include 'icons/chevron-down-sm.html.twig' %}
  </div>
  <div class="dropdown-items z-10 flex-col items-start hidden w-full pb-1 bg-white shadow-lg">
    {% block items %}
      Please complete block items as bellow
      {% include 'components/dropdown-item.html.twig' with { link: "#", "text": "some text" } only %}
    {% endblock %}
  </div>
</button>
