<div class="flex-shrink-0 flex flex-col items-center min-w-16 pb-4 overflow-auto border-r border-gray-300">
  <div class="h-16 w-full bg-gray-300">
    {% embed 'components/icon-link.html.twig' with { 'link': path("team_list") } only %}
      {% block icon %} {% include 'icons/sparkle.html.twig' %} {% endblock %}
    {% endembed %}
  </div>
  
  <div class="h-10 w-10 mt-4">
    {% embed 'components/icon-link.html.twig' with { 'link': path("team_list") } only %}
      {% block icon %} {% include 'icons/home.html.twig' %} {% endblock %}
    {% endembed %}
  </div>

  <div class="h-10 w-10 mt-4">
    {% embed 'components/icon-link.html.twig' with { 'link': path("team_list") } only %}
      {% block icon %}
        {% include 'icons/user-group.html.twig' %}
      {% endblock %}
    {% endembed %}
  </div>

  <div class="h-10 w-10 mt-4">
    {% embed 'components/icon-link.html.twig' with { 'link': path("player_new") } only %}
      {% block icon %}
        {% include 'icons/user-add.html.twig' %}
      {% endblock %}
    {% endembed %}
  </div>

  <div class="h-10 w-10 mt-auto">
    {% embed 'components/icon-link.html.twig' with { 'link': path('app_logout') } only %}
      {% block icon %}
        {% include 'icons/logout.html.twig' %}
      {% endblock %}
    {% endembed %}
  </div>
</div>
