<div id="sidebar" class="flex-shrink-0 flex flex-col w-56 border-r border-gray-300">
  {# double div to enforce h-16 on flex item #}
  <div><div class="h-16">{% block upper %}{% endblock %}</div></div>
  <div class="flex flex-col flex-grow p-4 overflow-auto">
    {% block middle %}{% endblock %}
  </div>
  <div class="p-4">
    <div class="mt-auto rounded bg-gray-200">
      {% block bottom %}{% endblock %}
    </div>
  </div>
</div>

<div class="flex-shrink-0 flex flex-col w-12 border-r border-gray-300">
  <div class="h-16 border-b border-gray-300"></div>
  <div class="flex flex-col items-center justify-center flex-grow">
    <div id="close-sidebar">
      {% include 'icons/chevron-left.html.twig' %}
    </div>
    <div id="open-sidebar" class="hidden">
      {% include 'icons/chevron-right.html.twig' %}
    </div>
  </div>
</div>