<a class="flex items-center flex-shrink-0 h-10 px-2 text-sm font-medium rounded hover:bg-gray-300"
  href="{{ link }}">
  {% block icon %}{% endblock %}
  <span class="leading-none">{{ text }}</span>
</a>