<button class="relative ml-2 text-sm focus:outline-none group">
  <div class="flex items-center justify-between w-10 h-10 rounded hover:bg-gray-300">
    {% include 'icons/dots-vertical.html.twig' %}
  </div>
  <div class="absolute right-0 flex-col items-start hidden w-40 pb-1 bg-white border border-gray-300 shadow-lg group-focus:flex">
    {% block items %}
      Please complete block items as bellow
      {% include 'components/dropdown-item.html.twig' with { link: "#", "text": "some text" } only %}
    {% endblock %}
  </div>
</button>
